.fela {display:none}


label {
    display: inline;
}

.bil {
    height: 10px;
}



span.icon::before {
    margin: 3px;
}


.heddrib {
    background-color: rgb(244, 139, 4);
    text-align: center;
}

.topmarg {
    margin: 40px auto;
    margin-bottom: 100px
}
.welcome {
    text-align: center;
    font-weight: 800;
}

form {
    margin: 0 auto;
    
    padding: 7px ;
    border: none;
    background-color: #f8f8f8;

    font-size: 0.9em;
    max-width: 400px;
    
}

div.col4060 {
    grid-template-columns: 60% 40%;
}

form > div > div > div {
    padding: 20px;
    
}
label {
    display: inline;
}

input[type="text"] {
    padding: 1px;
    padding-left: 3px;
    margin-left: 5px;
}
input[placeholder] {
    color: gray;
}


input[type="submit"] {
    width: 100%;
}

.submit {
    margin: 0 auto;
    width: 80%
}

.newacc {
    width: 90%;
    margin: 10px auto;
}
footer {
    background-color: rgb(5,0,56);
    max-width: 100%;
    padding: 7px;

}

footer > div {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content; 

}
.socials {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin-top: 20px;

    


}
.socials > li {
    display: block;
    width: fit-content;
    margin: 0 15px;
    

}
.socials > li > a > span.icon::before {

    font-size: 2em;
    margin: 3px 3px;
    text-align: right;
    color: white;
    border: 1.5px solid white;
    border-radius: 4px;

}
.socials > li > a {
    color: rgba(0, 0, 0, 0);

}

footer > div {
    margin: 0 auto 0 auto;
    
}
footer > div > dl {
    color: white;

}
footer > p {
    color: white;
}
.left {
    text-align: left;
}
dl {
    margin: 0;
} 

@media screen and (min-width: 30em) {
    /* Larger than mobile */

}

@media screen and (min-width: 37.5em) {
    /* Larger than phablet (also point when grid becomes active) */
    footer > div {
        grid-template-columns: 3fr 4fr;
        width: initial;
    }
    .socials {
        margin-top: 5px;
    }

}
    
@media screen and (min-width: 48em) {
    

}       
@media screen and (min-width: 60em) {
    form > div > fieldset > div {
        padding: 15px;
    }
    .bil {
        height: 0px;
    }
}          
@media (min-width: 80em) {

}