:root {
    --fontcol: black;
}

.hamb {
    display: inline-block;
    position: fixed ;
    top: 15px;
    left: 10px;
    height: auto;
    width: 40px;
    line-height: 40px;
    
    font-size: 40px;
    
    z-index: 100;
}
.hamb:hover {
    
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

#tnav {
    display: block;
    text-align: center;
    margin: 0 auto;


}

.ulmenu {
    list-style: none;
    display: none;
    position: fixed;
    background-color: rgb(0,119,167);
    top: 73px;
    left: 0;
    width: 100%;
    z-index: 60;
    color: black;


}
.ulmenu > li {
    margin: 0 ;
    height: 45px;
    line-height: 45px;

}

#main-nav {
    display: none;}

#main-nav:checked ~ .ulmenu {
    display: inline;

}
.topnav {

    justify-self: end;
}

.ribbon {
    z-index: 50;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    
}
nav {
    width: fit-content;
    padding: 0;
    
}

.groov {
    color: black;
    margin: 5px;
}



.ulmenu > a {
    text-decoration: none;
    transition: 0.3s;
}

.ulmenu > a:hover{
    --visabilaty: block;
    background-color: rgb(5, 0, 56);
    --fontcol: white;
    border-radius: 45%;

}
.ulmenu > a >  li {
    color: var(--fontcol);
    line-height: 45px;
    margin: 0;
  
}

.anihringur {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    height: 45px;
    top: 45px;
    left: 0;
    right: 0;
}
.bil {
    padding: 22px;
}

.navlogo {
    display: block;
    height: 35px;
    width: auto;
    margin: 3px 0;

}
.navlogo:hover {
    transform: scale(1.10);
}
.logodiv {
    display:flex;
    justify-content: flex-end;
}
.ulmenu > a:hover{

    background-color: rgb(5, 0, 56);
    --fontcol: white;
    border-radius: 45%;
    padding: 2px

}
.ulmenu > a >  li {
    color: var(--fontcol);
    line-height: 45px;
    margin: 0;
  
}


@media screen and (min-width: 60em) {
    .hamb {
        display: none;
    }
    #tnav {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }


    #main-nav:checked ~ .ulmenu {
        display: grid;
    }
    .ulmenu {
        background-color: transparent;
        padding-top: initial;
        
    }
    

    #tnav > nav > ul{ 
        grid-template-columns: repeat(5, auto);
        display: grid;
        grid-gap: 4em;
        position: initial;
        left: initial;
        top: initial;
        margin: 0 auto; 
        height: 100%;
        width: auto;
        align-items: center;
        
        
    }
    #tnav > nav > ul > li {
        margin-bottom: 0;
        display: block;
        margin: 0 auto; 
        padding: 0 auto;
        
    }
    nav > ul > li > a {
        display: block;
        margin: auto;
    }

    .navlogo {
        height: 60px;
    }
    .navlogo:hover {
        
    }
    .logodiv {
        
        justify-content: flex-start;
    }
    
}