.fela {display:none}

.bil {
    height: 10px;
}

label {
    display: inline;
}


span.icon::before {
    margin: 3px;
}

.heddrib {
    background-color: rgb(244, 139, 4);
    text-align: center;
}

.sixfor {
    grid-template-columns: 3fr 2fr;
}

footer {
    background-color: rgb(5,0,56);
    max-width: 100%;
    padding: 7px;

}

footer > div {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content; 

}
.socials {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin-top: 20px;

    


}
.socials > li {
    display: block;
    width: fit-content;
    margin: 0 15px;
    

}
.socials > li > a > span.icon::before {

    font-size: 2em;
    margin: 3px 3px;
    text-align: right;
    color: white;
    border: 1.5px solid white;
    border-radius: 4px;

}
.socials > li > a {
    color: rgba(0, 0, 0, 0);

}

footer > div {
    margin: 0 auto 0 auto;
    
}
footer > div > dl {
    color: white;

}
footer > p {
    color: white;
}

.left {
    text-align: left;
}
dl {
    margin: 0;
} 

.meginmal {
    width: 70%;
}
.white {
    color: white;
}
.colm2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.word-wrap {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


@media screen and (min-width: 30em) {
    /* Larger than mobile */
}

@media screen and (min-width: 37.5em) {
    /* Larger than phablet (also point when grid becomes active) */
    footer > div {
        grid-template-columns: 3fr 4fr;
        width: initial;
    }
    .socials {
        margin-top: 5px;
    }
    .hedd {
        bottom: 100px;
    }

    .hedd > h1 {
        font-size: 350%;

    }

}
    
@media screen and (min-width: 48em) {

}       
@media screen and (min-width: 60em) {
    .bil {
        height: 0px;
    }    
    
    .colm2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1em;
    }
}          
@media (min-width: 80em) {

}